.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 20px auto;
}
.game {
    overflow: hidden;
    display: flex;
    width: 70vw;
    margin: 10px;
    height: 100px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    box-shadow: 4px 3px 8px 0px white;
    transition-duration: 0.3s;
    cursor: pointer;
    &:hover {
        box-shadow: 4px 4px 11px 6px white;
        transform: translateY(-3px);
    }
    &-thumb-container {
        background-color: black;
        position: relative;
        height: 172px;
        color: white;
        text-align: center;
    }
    &-thumbnail {
        top: 0;
        left: 0;
        right: 0;
        margin-left: 10px;
        height: 172px;
        width: 270px;
    }
    &-name {
        color: white;
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-left: 10px;
        margin-top: 30px;
    }

    & button {
        margin-left: auto;
        margin-right: 10px;
        max-height: 50px;
        margin-top: 2%;
    }
}

#delete-all-games-button {
    margin-left: auto;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom:20px;
    border-color: #dc3545;
    background-color: #dc3545;
    color: white;
    max-width: auto;
    max-height: 50px;
    border-radius: 5px;
}
